<div id="project-index" class="tile-list-cntr page-content">
    <h1>Projects</h1>
    <nav>
      <%= link_to('New Project', {:action => :new}) %>
    </nav>
    <ul class="tile-list">
      <% for @project in @projects do %>
        <li class="tile-list-row"><%= @project.title %>
          <ul>
          <li><%= link_to('Settings', {action: :show, id: @project}) %></li>
            <li><%= link_to('Story Board', {controller: :story_board, action: :index, id: @project}, {id: @project.id}) %></li>
            <li><%= link_to 'Edit Team', {action: 'edit_team', id: @project} %> </li>
          </ul>
          <div id="users">
            <h5 class="title-pane">Project Team</h5>

            <ul>
              <% @project.users.each do |u|%>
                  <li><%= u.name %></li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
</div>