<div class="page-content">
<div class="view-form">
  <h4><i class="general foundicon-folder"></i> <%= @project.title %></h4>
  <h5 class="title-pane">Project Details
     </h5>
  <%= link_to(raw('<i class="general foundicon-edit"></i> Edit'), {action: :edit, id: @project}, {class: 'button tiny secondary radius'}) %>

  <div class="edit-row">
    <label>Owner:
    <span class="vf-field"><%= @project.owner %></span> </label>
  </div>
  <div class="edit-row">
      <label>Description:
    <span class="vf-field"><%= @project.description %></span>
      </label>
  </div>

  <div id="users">
    <h5 class="title-pane">Project Team</h5>
    <%= link_to raw('<i class="general foundicon-edit"></i> Edit Team'), {action: 'edit_team', id: @project}, {class: 'button tiny secondary radius'} %>
      <% @project.users.each do |u|%>
          <div class="edit-row"><%= u.name %></div>
      <% end %>
  </div>
</div>
</div>