<div class="row">
<div class="columns large-4">
  <h3>Sign in</h3>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="edit-row"><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="edit-row"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="edit-row"><label for="remember_me"><%= f.check_box :remember_me %> Remember me</label></div>
  <% end -%>

  <div class="edit-row"><%= f.submit "Sign in", class: 'button tiny radius' %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>